.register{
    background-image: url("../../common/images/common-bg.png");
   padding:''
}
.headding{
    color: rgb(6, 34, 92);
}
.reg1{
    text-align: center;
}

@media screen and (max-width: 450px) {
    .reg1{
        text-align: left;
    }
}

/* @media screen and (max-width: 900px) {
    .bg{
    background-image: url("../../common/images/sens(900).png");   
    padding:5% 10px;
    }
}


    .bg{
    background-image: url("../../common/images/sens-one.png");   
    padding:5% 50px;
    }
} */

.bg{
    margin-top: 40px;
    background-image: url("../../common/images/iom-bg.png");
background-repeat: no-repeat;
color:#fff;
background-position: center; 
padding:5% 50px;
border-radius: 50px;
background-size: 100% 100%;

}

@media screen and  (min-width:900px) {
    .bg-color{
       margin: 100px 0;
    }
}

@media screen and (max-width: 900px) and (min-width:450px) {
    .bg-color{
        /* margin-top:275px; */
    }
}

@media screen and (max-width: 450px) {
    .bg{
        /* background-image:none; */
        padding:5% 20px !important;
    }
    .bg-color{
        margin-top:0px !important;
    }
}

.bg-color{
  margin:auto 0;
    background-color: #021130;
    padding:15px;
    border-radius: 10px;
    opacity: 0.8;
  
}

@media screen and (min-width: 900px) {
    .bg-color{   width:130%;}
}

@media screen and (max-width: 900px) {
    .bg-color{  width:150%;}
}

@media screen and (max-width: 700px) {
    .bg-color{  width:170%;}
}
@media screen and (max-width: 600px) {
    .bg-color{  width:auto;}
    .reg-img{
        display:none
    }
    .bg-img{
        background-image: url("../../common/images/sens.png");
        width:100%;
        padding-top:250px;
        background-position: center; 
        background-size: contain;
        background-repeat: no-repeat;
    }

}
@media screen and (max-width: 400px) {
    .bg-img{
        background-image: none;
        padding-top:0px;
    }
}



