.register{
    background-image: url("../../common/images/common-bg.png");
   padding:''
}
.headding{
    color: rgb(6, 34, 92);
}

.bg{
    margin-top: 40px;
    background-image: url("../../common/images/sens-one.png");
background-repeat: no-repeat;
color:#fff;
padding:5% 50px;

border-radius: 50px;


}
.bg-color{
    background-color: #06225C;
    padding:20px;
    border-radius: 10px;
    opacity: 0.7;
}